<!DOCTYPE html>
<html>
  <head>
    <title>Bootstrap Admin Theme v3</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- styles -->
    <link href="/static/css/styles.css" rel="stylesheet">

    <link href="/static/css/font-awesome.css" rel="stylesheet">
    <link href="/static/vendors/form-helpers/css/bootstrap-formhelpers.min.css" rel="stylesheet">
    <link href="/static/vendors/select/bootstrap-select.min.css" rel="stylesheet">
    <link href="/static/vendors/tags/css/bootstrap-tags.css" rel="stylesheet">

    <link href="/static/css/forms.css" rel="stylesheet">
  </head>
  <body>

  <script type="text/javascript">
    function display_result(success,message,errors){
      if(success){
        $('#RESULT_title').text('Success!');
      }else{
        $('#RESULT_title').text('Error!');
      }
      $('#RESULT_message').text(message);

      $('#RESULT_errors').empty();
      if(errors.length <= 0){
        $('#RESULT_show_errors').css('display','none');
      }else{

        $('#RESULT_show_errors').css('display','block');
        for (var index in errors){
          $('#RESULT_errors').append("<li>"+errors[index]+"</li>");
        }
      }

      $('#RESULT_modal').modal();
    }
  </script>
  <div class="modal fade" id="RESULT_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title" id="RESULT_title"></h4>
        </div>
        <div class="modal-body">
        <div class="row"> 
            <p id="RESULT_message">
            </p>
          </div>
          <div class="row"> 
            <p id="RESULT_show_errors">
            <span>Errors</span>
              <ul id="RESULT_errors">
              </ul>
            </p>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" onclick="window.location = window.location">Reload page</button>
        </div>
      </div>
    </div>
  </div>

    <div class="header">
       <div class="container">
          <div class="row">
             <div class="col-md-5">
                <!-- Logo -->
                <div class="logo">
                   <h1><a href="index.html">Drawing Board</a></h1>
                </div>
             </div>

          </div>
       </div>
    </div>

    <div class="page-content">
    	<div class="row">
		    <div class="col-md-2">
          <div class="sidebar content-box" style="display: block;">
            <ul class="nav">
                <!-- Main menu -->
                {% block navigation %}
                  <li><a href="{{ url_for('aminations.aminations') }}"><i class="glyphicon glyphicon-list"></i> Aminations</a></li>
                  <li><a href="{{ url_for('amination_templates.templates') }}"><i class="glyphicon glyphicon-pencil"></i> Amination Templates</a></li>
                  <li><a href="{{ url_for('ami_versions.versions') }}"><i class="glyphicon glyphicon-tasks"></i> AMI Versions</a></li>
                {% endblock %}

            </ul>
          </div>
		    </div>

        {% block content %}
        {% endblock %}

		  </div>
		</div>

    <script src="/static/js/json2.js"></script>

    <link href="/static/vendors/datatables/dataTables.bootstrap.css" rel="stylesheet" media="screen">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="/static/js/jquery.js"></script>
    <!-- jQuery UI -->
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>

    <script src="/static/vendors/form-helpers/js/bootstrap-formhelpers.min.js"></script>

    <script src="/static/vendors/select/bootstrap-select.min.js"></script>

    <script src="/static/vendors/tags/js/bootstrap-tags.min.js"></script>

    <script src="/static/vendors/datatables/js/jquery.dataTables.min.js"></script>

    <script src="/static/vendors/datatables/dataTables.bootstrap.js"></script>

    {% block script_footer %}
    {% endblock %}

  </body>
</html>